<p-growl [(value)]="msgs"></p-growl>
<form #qform="ngForm">
  <div class="row well">
    <div class="col-md-2">
      <span class="text">Survey text : </span>
    </div>
    <div class="col-md-10">
      <input class="form-control" required [(ngModel)]="survey.questionText"
             #questionText="ngModel"
             name="questionText"
             #questionText="ngModel"
             placeholder="please write your survey text"/>
      <div *ngIf="questionText.errors && (questionText.dirty || questionText.touched)" class="alert alert-warning">
        survey text is required
      </div>
    </div>
  </div>

  <div class="row well">
    <div class="col-md-12">
      <button class="btn" (click)="addBox()">Add Answer</button>
    </div>
  </div>
  <div class="row well" *ngFor="let item of survey.choices;let index = index;trackBy:trackByIndex">
    <div class="col-sm-10">
      <input class="form-control" required
             name="surveychoices_{{index}}"
             #survey.choices_{{index}}="ngModel"
             [(ngModel)]="survey.choices[index]"
             placeholder="{{index +1}}. answer"/>
    </div>
    <button (click)="removeFromList(index)" class="col-sm-2 btn">Delete</button>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="button" [disabled]="!qform.form.valid" (click)="save()" class="btn btn-default">Create Survey</button>
    </div>
  </div>
</form>
